@model IEnumerable<SchoolAttendance.Models.StudentRegistration>

@{
    ViewData["Title"] = "Register Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register Students</h1>
<br />
<p>
    <a asp-action="AddStudent" asp-route-schoolClassId=@ViewBag.SchoolClassId asp-route-hourOfDay=@ViewBag.HourOfDay>Add New Student</a>
</p>
<br />
@using (Html.BeginForm("RegisterStudents", "School", FormMethod.Post))
{
<div class="row">
    <div class="col-md-4">
        <b>Class Name:</b>
        @ViewBag.SchoolClass
    </div>
    <div class="col-md-4">
        <b>Hour of Day:</b>
        @ViewBag.HourOfDay
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.IDNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.IDNumber)
                </td>
                <td>
                    <a asp-action="DeleteStudentRegistration" asp-route-id="@item.Id" asp-route-schoolClassId=@ViewBag.SchoolClassId asp-route-hourOfDay=@ViewBag.HourOfDay>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
