@model IEnumerable<SchoolAttendance.Models.TermReportModel>

@{
    ViewData["Title"] = "Term Attendance Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Term Attendance Report</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassesAttended)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassesMissed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassesAttended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassesMissed)
            </td>
        </tr>
}
    </tbody>
</table>
